/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

}
    
    





.container {
max-width: 1024px;
margin: 0 auto;


}
.container-flex {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
    
    
}

.nav-flex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    
    
    
}

header{
    
    height: 80px;
    background-color: #255ee9
    ;
}

.link-font {
    
    font-size: medium;
    font-size: 17px;
    font-family: 'Whitney Semibold', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.link-vari {
    padding: 10px;
    margin: 10px;
}

.button-properties {
    border-radius: 25px;
    padding: 10px 15px;
    font-family: 'Whitney Semibold', sans-serif;
    border: none;
    
}

h1 {
    color: white;
    font-family: 'Whitney Book', sans-serif;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
}

.title {
    padding: 20px;
}

.title-subtext {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    padding: 20px 0;
}


.button-flex {
    display: flex;
    
    justify-content: center;
    gap: 20px;


}


.scarica-mac {
    border-radius: 25px;
    padding: 10px 30px;
    font-family: 'Whitney Semibold', sans-serif;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    
    
}

.apri-discord {
    color: white;
    border-radius: 25px;
    padding: 10px 30px;
    font-family: 'Whitney Semibold', sans-serif;
    border: none;
    font-size: 20px;
    background-color: #23272a;
    margin-top: 30px;

}


.blue-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.pink-box {
    
    width: 900px;
    height: 400px;


}

.section-1 {
    display: flex;
    margin: 180px 0;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.img {
    width: 65%;
    height: 400px;
    background-color: #ffffff;
}

.h2-p {
    width: 35%;
    height: 400px;
    background-color: #ffffff;
    
}

.second-titles {
    font-size: 3em;
    font-family: 'Whitney Semibold', sans-serif;
    padding-left: 30px;
    padding-top: 30px;
    
    
}

.p-undertext {
    font-size: 1em;
    padding-left: 30px;
    padding-top: 15px;
    font-family: 'Whitney Semibold', sans-serif;
}

.background-grey {
    background-color: #f6f6f6 ;
}


.section-2 {
    display: flex;
    
    min-height: 800px;
    align-items: center;
    justify-content: center;
}

.green-box {
    width: 100%;
    height: 700px;
    background-color: green;
}

.section-3 {
    display: flex;
    min-height: 500px;
}

.salmon-box {
    background-color: salmon;
    width: 30%;
}

.cyan-box {
    background-color: cyan;
    width: 17.5%;
}

.margin-hr {
    margin: 20px 0;
}

.footer-flex {
    
    display: flex;
    background-color: aqua;
    min-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.logo-footer {
    align-self: center;
    min-height: 30px;
    background-color: beige;
    
}

.button-footer {
    align-self: center;
    min-height: 30px;
    background-color: beige;

}




















/* Debug */
.debug header{
    min-width: 1200px; 
    height: 80px;
    

}

.debug nav {
    
}





