/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

}
    
    





.container {
max-width: 1024px;
margin: 0 auto;


}
.container-flex {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
    
    
}

.nav-flex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    
    
    
}

header{
    
    height: 80px;
    background-color: #255ee9
    ;
}

.link-font {
    
    font-size: medium;
    font-size: 17px;
    font-family: 'Whitney Semibold', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.link-vari {
    padding: 10px;
    margin: 10px;
}

.button-properties {
    border-radius: 25px;
    padding: 10px 15px;
    font-family: 'Whitney Semibold', sans-serif;
    border: none;
    
}

h1 {
    color: white;
    font-family: 'Whitney Book', sans-serif;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
}

.title {
    padding: 20px;
}

.title-subtext {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    padding: 20px 0;
}


.button-flex {
    display: flex;
    
    justify-content: center;
    gap: 20px;


}


.scarica-mac {
    border-radius: 25px;
    padding: 10px 30px;
    font-family: 'Whitney Semibold', sans-serif;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    
    
}

.apri-discord {
    color: white;
    border-radius: 25px;
    padding: 10px 30px;
    font-family: 'Whitney Semibold', sans-serif;
    border: none;
    font-size: 20px;
    background-color: #23272a;
    margin-top: 30px;

}


.blue-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.pink-box {
    
    width: 900px;
    height: 400px;


}

.section-1 {
    display: flex;
    margin: 180px 0;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.img {
    width: 65%;
    height: 400px;
    background-color: #ffffff;
}

.h2-p {
    width: 35%;
    height: 400px;
    background-color: #ffffff;
    
}

.second-titles {
    font-size: 3em;
    font-family: 'Whitney Semibold', sans-serif;
    padding-left: 30px;
    padding-top: 30px;
    
    
}

.third-titles {
    font-size: 2em;
    font-family: 'Whitney Semibold', sans-serif;
    padding-left: 30px;
    padding-top: 30px;
    
    
    
}


.centered-text {
    text-align: center;
}

.p-undertext {
    font-size: 1.5em;
    padding-left: 30px;
    padding-top: 15px;
    font-family: 'Whitney Semibold', sans-serif;
}

.background-grey {
    background-color: #f6f6f6 ;
}


.section-2 {
    display: flex;
    
    min-height: 800px;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    

}

.color-button {
    background-color: #8ea1e1;
    color: white;
}

.big-img {
    align-self: center;
}

.green-box {
    width: 100%;
    height: 700px;
    
}

.section-3 {
    display: flex;
    min-height: 500px;
}

footer {
    margin-top: 200px;
    background-color: #23272a;
}



.margin-hr {
    margin: 20px 0;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
}

.footer-1 > .cyan-box {
    width: 75%;
    min-height: 200px;
    display: flex;
}

.footer-1 > .cyan-box > div {
    width: 25%;
    min-height: 200px;
    display: flex;
}

.footer-1 > .salmon-box {
    width: 25%;
    
}

.h3-footer {
    font-size: 1.7em;
    font-family: 'Whitney Semibold', sans-serif;
    padding-left: 10px;
    padding-top: 15px;
    margin-bottom: 20px;

}

.ita-img {
    width: 30px;
    padding-left: 10px;
}

.violet {
    color: #7289da;
}

.white {
    color: white;
}

i {
    color: white;
    padding-left: 10px;
    padding-top: 30px;
   
}

ul {
    color: white;
    padding-top: 20px;
    list-style-type: none;
    font-size: 16px;
    font-family: 'Whitney Semibold', sans-serif;
    
}

li {
    margin-bottom: 5px;
}



.footer-flex {
    
    display: flex;
    
    min-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.logo-footer {
    align-self: center;
    min-height: 30px;
    
    
}

.button-footer {
    align-self: center;
    min-height: 30px;
    border-radius: 25px;
    padding: 10px 15px;
    font-family: 'Whitney Semibold', sans-serif;
    border: none;
    background-color: #8ea1e1 ;
    color: white;
    

}


























